In [2]:
import pandas as pd
import numpy as np

# Separa

In [3]:
df = pd.read_csv('Dataset_idx.csv')

In [5]:
df.head()

,Unnamed: 0,file,idx_abre,Unnamed: 3
0,0,Estevan_3.wav,[4730 76320 131880 180000 212000],NaN
1,1,Marina_1.wav,[29450 106430 165400 214060 330190],NaN
2,2,Marina_4.wav,[12170 82450 138570 180800 218120 280850 347250],NaN
3,3,Marina_6.wav,[25130 57970 125860 199900 239820 277720 33808...,NaN
4,4,Natan_1.wav,[25670 107110 162700 208770 332250],NaN

In [29]:
x = df['idx_abre']
y = {}
for i in range(len(x)):
    p = x[i]
    p = p.replace('[','')
    p = p.replace(']','')
    
    p = p.split(' ')
#     print(p)
    y[i] = list(map(int, p))

[29450, 106430, 165400, 214060, 330190]

In [32]:
x[0] = np.array([10,10,10,10])

/home/usrp/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
y = df['data'][0]

In [35]:
y

array([10, 10, 10, 10])

In [36]:
df.to_csv('test_pd.csv')